numpy>=1.15.0
scipy>=1.0.0
pandas>=1.0.1
matplotlib
seaborn>=0.10.0
scikit-learn>=0.19.1
statsmodels>=0.8.0
patsy>=0.4.1
requests>=2.21.0

xlrd
openpyxl
xlsxwriter

pyarrow
parmap
fancyimpute
adjustText
FlowKit
scanpy
umap-learn
pynndescent
fastcluster
anndata
GPy
git+git://github.com/SheffieldML/GPclust@9f746598f2e383db5a4e89ef3bfc0270451c7873#egg=GPclust
pingouin
networkx

git+git://github.com/ElementoLab/imc#egg=imc
